<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon" />
  </head>
  <body>
    <%-include("./includes/header.ejs") %>

    <main>
      <section class="w-11/12 mt-32 mx-auto">
        <form
          method="post"
          action="/login"
          class="bg-white shadow-2xl py-10 px-8 w-6/12 mx-auto max-sm:w-full rounded-xl"
        >
          <h1 class="text-3xl font-bold text-center mb-5">Login Here</h1>

          <input
            class="w-full p-2 pl-3 my-2 bg-form border-none outline-none rounded-md"
            placeholder="Username"
            type="text"
            name="username"
            required
          />
          <input
            class="w-full p-2 pl-3 my-2 bg-form border-none outline-none rounded-md"
            placeholder="Password"
            type="password"
            name="password"
            required
          />
          <button
            type="submit"
            class="bg-primary font-medium px-6 py-2 my-3 rounded-lg text-white duration-300 w-full"
          >
            Login
          </button>

          <div
            class="flex justify-center mt-1 max-sm:flex-col items-center gap-3"
          >
            <p class="">
              <a href="/register" class="font-medium text-primary duration-300"
                >Create an Account</a
              >
            </p>
            <!-- <p class="">
              <a href="/" class="font-medium text-primary duration-300"
                >Forgot Password?</a
              >
            </p> -->
          </div>
          <% if (success_msg) { %>
          <p style="color: green"><%= success_msg %></p>
          <% } %> <% if (error_msg) { %>
          <p style="color: red"><%= error_msg %></p>
          <% } %> <% if (error) { %>
          <p style="color: red"><%= error %></p>
          <% } %>
        </form>
      </section>
    </main>
  </body>
</html>
